<div class="wp-rss-feed-importer">
    <div class="container">
        <div class="card card-license shadow-sm position-relative">
            <h5 class="card-header d-flex align-items-center text-white bg-orange py-4">
                <i class="bi bi-rss d-block" style="font-size: 2rem"></i>&nbsp;
                {{ 'RSS Feed Importer'|__ }} </h5>
            <div class="card-body pb-4" style="min-height: 72vh">
                <div class="d-flex align-items-center">
                    <h5 class="card-title"><i
                                class="text-orange fa fa-arrow-circle-right"></i>
                        <span id="currentSideTitle">{{ 'Manage imports'|__ }}</span>
                    </h5>
                </div>
                <hr>
                <div class="col-12 mx-auto">
                    <div class="card shadow-sm">
                        <div class="card-header bg-light py-3 fs-5">
                            {{ 'RSS-Feed Import'|__ }}
                        </div>
                        <div class="card-body" style="min-height: 55vh">
                            <div class="d-flex flex-wrap">
                                <button data-type="overview" data-target="#colImportOverview" data-parent="#collParent"
                                        class="btn-toggle btn btn-blue-outline my-1 me-1" disabled>
                                    <i class="bi bi-rss me-1"></i>
                                    {{ 'Overview'|__ }}
                                </button>
                                <button data-type="import_handle" data-target="#colAddImport" data-parent="#collParent"
                                        class="btn-toggle btn btn-blue-outline my-1 me-1">
                                    <i class="bi bi-rss-fill me-1"></i>
                                    {{ 'Add import'|__ }}
                                </button>
                                <button data-type="import_settings" data-target="#colImportSettings"
                                        data-parent="#collParent" class="btn-toggle btn btn-blue-outline my-1 me-1">
                                    <i class="bi bi-gear me-1"></i>
                                    {{ 'Settings'|__ }}
                                </button>
                                <button data-type="import_help" data-target="#colImportHelp"
                                        data-parent="#collParent"
                                        class="btn-toggle btn btn-blue-outline ms-lg-auto my-1 me-1">
                                    <i class="fa fa-life-ring me-1"></i>
                                    {{ 'Help'|__ }}
                                </button>
                            </div>
                            <div id="collParent">
                                <div id="colImportOverview" data-bs-parent="#collParent" class="collapse show">
                                    <hr>
                                    <div class="table-responsive pt-3">
                                        <table id="dataTablesRss"
                                               class="table table-bordered table-striped w-100 nowrap-0">
                                            <thead>
                                            <tr class="bg-body-tertiary">
                                                <th class="fw-normal text-nowrap"
                                                    scope="col">{{ 'Import title'|__ }}</th>
                                                <th class="fw-normal text-nowrap" scope="col">{{ 'Post Type'|__ }}</th>
                                                <th class="fw-normal" scope="col">{{ 'Category'|__ }}</th>
                                                <th class="fw-normal" scope="col">{{ 'Imported'|__ }}</th>
                                                <th class="fw-normal" scope="col">{{ 'Last'|__ }}</th>
                                                <th class="fw-normal" scope="col">{{ 'Next'|__ }}</th>
                                                <th class="fw-normal text-nowrap"
                                                    scope="col">{{ 'Import Status'|__ }}</th>
                                                <th class="fw-normal" scope="col">{{ 'Active'|__ }}</th>
                                                <th class="fw-normal text-nowrap" scope="col">{{ 'Import'|__ }}</th>
                                                <th class="fw-normal text-nowrap" scope="col">{{ 'Edit'|__ }}</th>
                                                <th class="fw-normal text-nowrap" scope="col">{{ 'Delete'|__ }}</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr class="bg-body-tertiary">
                                                <th class="fw-normal text-nowrap"
                                                    scope="col">{{ 'Import title'|__ }}</th>
                                                <th class="fw-normal text-nowrap" scope="col">{{ 'Post Type'|__ }}</th>
                                                <th class="fw-normal" scope="col">{{ 'Category'|__ }}</th>
                                                <th class="fw-normal" scope="col">{{ 'Imported'|__ }}</th>
                                                <th class="fw-normal" scope="col">{{ 'Last'|__ }}</th>
                                                <th class="fw-normal" scope="col">{{ 'Next'|__ }}</th>
                                                <th class="fw-normal text-nowrap"
                                                    scope="col">{{ 'Import Status'|__ }}</th>
                                                <th class="fw-normal" scope="col">{{ 'Active'|__ }}</th>
                                                <th class="fw-normal text-nowrap" scope="col">{{ 'Import'|__ }}</th>
                                                <th class="fw-normal text-nowrap" scope="col">{{ 'Edit'|__ }}</th>
                                                <th class="fw-normal text-nowrap" scope="col">{{ 'Delete'|__ }}</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div id="colAddImport" data-bs-parent="#collParent" class="collapse"></div>
                                <div id="colEditImport" data-bs-parent="#collParent" class="collapse"></div>
                                <div id="colImportSettings" data-bs-parent="#collParent" class="collapse"></div>
                                <div id="colImportHelp" data-bs-parent="#collParent" class="collapse">
                                    <hr>
                                    <div class="card-body border rounded">
                                        <h5 class="fw-normal mb-3">
                                            {{ 'RSS Import Gutenberg Block Callback Hook.'|__ }}
                                        </h5>
                                            <pre class="bg-light p-3">
                                              {{ help_example|nl2br }}
                                            </pre>
                                        <p class="fs-6 fw-normal">
                                            {{ 'The filter can be accessed from anywhere. All posts, attributes, metadata, term object as well as the import data are available.'|__ }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-0 end-0 position-absolute my-1 me-3 text-end">
                <small class="small-xl">
                    DB: <span class="text-danger">v{{ db }}</span>
                    | </small>
                <small class="small-xl">
                    Version: <span class="text-danger">v{{ version }}</span>
                </small>
            </div>
        </div>
    </div>
</div>
<div id="snackbar-success"></div>
<div id="snackbar-warning"></div>
